{% extends 'base.html.twig' %}

{% block title %}Update Password{% endblock %}

{% block body %}
<style>
li{color:red;}
</style>

    <div class="text-center">
        <h1 class="h3 mb-3 font-weight-normal text-center">Update Your Password</h1>

        <div class="col-md-6 offset-md-3 relative mx-auto sm:w-[500px] w-full">
            {{ form_start(form) }}

            {{ form_row(form.password.first, {
                'label': 'Enter your new password',
                'attr': { 'class': 'block w-full sm:w-2/5 text-center mx-auto mt-2 mb-3 p-2' }
            }) }}

            {{ form_row(form.password.second, {
                'label': 'Confirm your new password',
                'attr': { 'class': 'block w-full sm:w-2/5 text-center mx-auto mt-2 mb-4 p-2' }
            }) }}

            <div class="flex justify-end">
                <button type="submit" class='btn bg-blue-700 hover:bg-blue-800 text-slate-200 hover:text-slate-100' style='margin-right:70px'>
                    Update Password
                </button>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
