{% extends 'base.html.twig' %}

{% block title %}Update Password{% endblock %}

{% block body %}
    <div class="text-center">
        <h1 class="mb-12">Update Your Password</h1>

        <div class="col-md-6 offset-md-3 relative mx-auto sm:w-[400px] w-full">
            {{ form_start(form) }}

            {{ form_row(form.password.first, {
                'label': 'Enter your new password',
                'attr': { 'class': 'block w-full sm:w-2/5 md:w-[300px] text-center mx-auto mt-2 p-2' }
            }) }}
            <p class='text-orange-600 text-xs mb-4'>Won't change if let empty.</p>

            {{ form_row(form.password.second, {
                'label': 'Confirm your new password',
                'attr': { 'class': 'block w-full sm:w-2/5 md:w-[300px] text-center mx-auto mt-2 mb-1 p-2' }
            }) }}

            <button type="submit" class='btn bg-indigo-600 hover:bg-indigo-700 text-slate-200 hover:text-slate-200'>
                Update Password
            </button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
