{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}

<div>
    {% if app.request.query.get('error') %}
        <div class="alert alert-danger mx-12 error">
            {{ app.request.query.get('error') }}
        </div>
    {% endif %}

    <h1 class='h3 mb-3 font-weight-normal text-center'>Homepage</h1>
</div>
{% endblock %}

{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        if (window.location.search.includes('error')) {
            const errorElement = document.querySelector('.error');
            if (errorElement) {
                setTimeout(function() {
                    errorElement.style.display = 'none';
                    window.history.replaceState({}, document.title, window.location.pathname);
                }, 5000);
            }
        }
    });
</script>
{% endblock %}